* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 14px;
  font-family: 'Chilanka', cursive;
}

h1,
h2,
h3,
h4,
h6,
h6 {
  font-weight: 500;
  color: #5f6368;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  border: none;
}

/* General Width Setting */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
}

/* Section : nav */
nav {
  padding: 0.5rem;
  border-bottom: 0.1rem solid #dbdbdb;
}

/* Section : Shortener */
.shortener {
  background: #366ed1;
}
.p50 {
  padding: 50px;
}
input[type='text'] {
  width: 70%;
  padding: 1rem;
  border: none;
  font-family: inherit;
}
input[type='submit'] {
  padding: 1rem;
  border: none;
  cursor: pointer;
  color: #039be5;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  border-bottom: 1px solid #5f6368;
  padding: 1rem;
}
